<div class="navbar bg-neutral text-neutral-content rounded-box flex-wrap">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li>
                <a class="<%= (page == '/about') ? 'btn-active' : '' %>" href="/about">About</a>
            </li>
            <li>
                <a class="<%= (page == '/lego/sets') ? 'btn-active' : '' %>" href="/lego/sets">View Collection</a>
            </li>
            <% if(session.user){ %>
            <li>
                <details>
                    <summary>Account: <%= session.user.userName %></summary>
                    <ul class="p-2 right-0">
                        <li>
                            <a class="<%= (page == '/lego/addSet') ? 'btn-active' : '' %>" href="/lego/addSet">Add to Collection</a>
                        </li>
                        <li>
                            <a class="<%= (page == '/userHistory') ? 'btn-active' : '' %>" href="/userHistory">User History</a>
                        </li>
                        <li>
                            <a href="/logout">Log Out</a>
                        </li>
                    </ul>
                </details>
            </li>
            <% } else { %> 
            <li>
                <details>
                    <summary>Account</summary>
                    <ul class="p-2 right-0">
                        <li>
                            <a class="<%= (page == '/login') ? 'btn-active' : '' %>" href="/login">Login</a>
                        </li>
                        <li>
                            <a class="<%= (page == '/register') ? 'btn-active' : '' %>" href="/register">Register</a>
                        </li>
                    </ul>
                </details>
            </li>
            <% } %> 
        </ul>
      </div>
</div>