<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Lap Chi Wong">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <title>Collection</title>
    </head>
    <body>
        <%- include('partials/navbar', {page: '/lego/sets'}) %>
        <div class="container mx-auto p-4">
            <div class="hero bg-base-200 rounded p-6">
                <div class="hero-content text-center">
                    <div class="max-w-md">
                        <h1 class="text-5xl font-bold">Collection</h1>
                        <p class="py-6">Browse the entire collection. Click the theme to filter by themes such as: 
                            <a class="btn btn-primary btn-xs" href="/lego/sets?theme=Batman">Batman</a>
                            <a class="btn btn-primary btn-xs" href="/lego/sets?theme=Iron Man">Iron Man</a>
                            <a class="btn btn-primary btn-xs" href="/lego/sets?theme=Spider-Man">Spider-Man</a>
                        </p>                        
                    </div>
                </div>
            </div>            
            <div class="overflow-x-auto overflow-y-hidden">
                <table class="table table-zebra">
                    <tbody>
                        <% for (const set of sets) { %>
                        <tr>
                            <td>
                                <div class="avatar">
                                    <div class="w-32 rounded">
                                        <img src="<%= set.img_url %>">
                                    </div>
                                </div>
                            </td>
                            <td><%= set.name %> | <a class="btn mt-2 btn-xs" href="/lego/sets?theme=<%= set.Theme.name %>"><%= set.Theme.name %></a></td>
                            <td>
                                <div>
                                    <strong>Year: </strong><%= set.year %>
                                    <br>
                                    <strong>#Parts: </strong><%= set.num_parts %>
                                </div>
                            </td>
                            <td><a class="btn btn-primary mt-2 btn-xs" href="/lego/sets/<%= set.set_num %>">Details</a></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>